
*{
    margin: 0;
    padding: 0;
}



        /*HEDER Y PAGINA DE INICIO*/

header {
    height: 80px ;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }   

.listas1{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    color: white;
    
}

 

li{
    list-style: none;
}

nav{
        width: 50%;
}

h1{
    font-size: 50px;
    margin: 30px;
}

.img1{
    width: 100%
    ;
}
a {
    text-decoration: none;
    font-family:'Raleway';
    color: white;
}



                /*CONTACTOS*/



.cuerpo1{
    background-color: gray;
}

.form-register{
    width: 500px;
    background-color: rgb(53, 53, 54);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;

}

.controls{
    width: 95%;
    padding: 10px;
    margin-bottom: 3px;
    border-color: black;

}

.titulo-form{
    font-size: 20px;
    font-style: italic;
    color: aqua;
}

.area-form{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.botones{
    text-align: center;
    width: 100%;

}
.cuerpo1 h2{
    font-size: 50px ;
    width: 100%;
    text-align: center;
}


/*DISCOGRAFIA*/

.tabla-discografia{
    border: solid 5px red;
    padding: 10px;
    font-size: 30px;
    
    background-color: orange;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}

.practicando {
    display: flex;
    justify-content: center;
}

.fondo-disco{
    background-color: blanchedalmond;
}

.discografia-imagenes img{
    max-width: 400px;
    width: 100% ;
    margin: 10px;
}

.discografia-titulo{
    font-size: 50px;
}



/* INTEGRANTES*/


.integ-2{
    background-color: #291E46;
}


.titulo-int{

    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.int-text{
    margin: 20px;
}

.int-text p   {
    color: white;
}


.imagen-1 {
    display: flex;
    flex-direction: row;
}

.iamge-2 {
    display: flex;
    flex-direction: row;
    
}
.imagen-3 {
    display: flex;
    flex-direction: row;
}
.imagen-4 {
    display: flex;
    flex-direction: row;
}
.imagen-5 {
    display: flex;
}
.imagen-6 {
    display: flex;
}

/*HISTORIA*/
.titulo-his p{
    font-size: 50px;
    color: white;
}

.cuerpo-his{

    background-color: #ce0606;
}

.text1{
    color: white;
    font-size: 20px;
}

.bloque-historia {
    display: flex;

}
.parrafo-his {
    width: 50vw;
}
.imgs-his {
    width: 50vw
}

/* footer*/

.foter {
    background-color: #291E46;
    color: white;

}
.foter-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;

}
.foter-nav a {
    display: flex;
    padding: 20px;
    color: cadetblue;
    

}

@media screen and (max-width: 768px) {
    .listas1{
        flex-direction: column;
    }
    .practicando {
        justify-content: center;
    }
    .bloque-historia {
        flex-direction: column;
    }
    .foter-nav {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        height: auto;
    }
    .listas1 {
        flex-direction: column;
    }
    }
